<html>
<head>
    <title>$i18n.getText("org.raboss.dev.atlassian.jira.proman.name")</title>
    <meta name="decorator" content="atl.general">
    $webResourceManager.requireResource("org.raboss.dev.atlassian.jira.proman:administration")
<style type="text/css">
.aui-flatpack {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0 20px 0;
    padding: 20px;
}
</style>
<body>
</head>
<body>
<!-- https://docs.atlassian.com/aui/latest/docs/page-content-layout.html -->
<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h1>$i18n.getText("org.raboss.dev.atlassian.jira.proman.name")</h1>
            </div>
            <div class="aui-page-header-actions">
                <div class="aui-buttons">
                    #if($action.getActionName()=="ProManEvaluationCriteria")<a class="aui-button aui-button-light" id="create_evaluation_criteria_button" href="#">$i18n.getText("org.raboss.dev.atlassian.jira.proman.ui.menu.create_evaluation_criteria")</a>#end
                    #if($action.getActionName()=="ProManPolls")<a class="aui-button aui-button-light" id="create_poll_button" href="#">$i18n.getText("org.raboss.dev.atlassian.jira.proman.ui.menu.create_poll")</a>#end
                    #if($action.getActionName()=="ProManEvaluationCategories")<a class="aui-button aui-button-light" id="create_evalutaion_category_button" href="#">$i18n.getText("org.raboss.dev.atlassian.jira.proman.ui.menu.create_evaluation_category")</a>#end
                </div>
            </div>
        </div>
    </header>
    <div id="aui-message-bar"></div>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <div class="aui-page-panel-nav">
                <!-- content such as a vertical nav -->
                <div class="aui-navgroup aui-navgroup-vertical">
                    <div class="aui-navgroup-inner">
                        <div class="aui-nav-heading">
                            <strong></strong>
                        </div>
                        <ul class="aui-nav" resolved="">
                            <li #if($action.getActionName()=="ProManEvaluationCriteria")class="aui-nav-selected"><a href="#"#{else}><a href="ProManEvaluationCriteria.jspa"#end class="docs-nav-link" id="manage-evaluation-criteria-link">$i18n.getText("org.raboss.dev.atlassian.jira.proman.ui.manage_evaluation_criteria")</a></li>
                            <li #if($action.getActionName()=="ProManPolls")class="aui-nav-selected"><a href="#"#{else}><a href="ProManPolls.jspa"#end class="docs-nav-link" id="manage-polls-link">$i18n.getText("org.raboss.dev.atlassian.jira.proman.ui.manage_polls")</a></li>
                            <li #if($action.getActionName()=="ProManEvaluationCategories")class="aui-nav-selected"><a href="#"#{else}><a href="ProManEvaluationCategories.jspa"#end class="docs-nav-link" id="manage-evaluation-categories">$i18n.getText("org.raboss.dev.atlassian.jira.proman.ui.manage_evaluation_categories")</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <section class="aui-page-panel-content">
                <!-- main area for content -->
                #if($action.getActionName()=="ProManEvaluationCriteria")
                    #parse("templates/AdminEvaluationCriteria.vm")
                #elseif($action.getActionName()=="ProManPolls")
                    #parse("templates/AdminPolls.vm")
                #elseif($action.getActionName()=="ProManEvaluationCategories")
                    #parse("templates/AdminEvaluationCategories.vm")
                #end
            </section>
            <aside class="aui-page-panel-sidebar hidden">
                <!-- tangental content here -->
            </aside>
        </div>
    </div>
</section>
</body>
</html>
